::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0px 0px 6px rgba(0,0,0,.5);
  background: #3F3F3F;
}

::-webkit-scrollbar-thumb{
  background: rgba(251, 180, 49, 0.9);
  border-radius:4px;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,.2);
}

::-webkit-scrollbar-thumb:hover{
  background:rgba(251, 180, 49, 1);
}